<%= render 'posts/modal' %>
<div class="container">
  <div class="row">
    <div id="side-menu" class="col-sm-3">
      <h1>Hi</h1>
    </div>

    <div id="main-content" class="col-sm-9">
      <div class="row">
        <%= render @posts %>
      </div>
    </div>
  </div>
</div>